@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans:wght@300;400&display=swap');

html,
body,
body > div:first-child,
div#__next {
	height: 100%;
}

body {
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	margin: 0;
	padding: 0 0 1rem;
}

body.dark {
	background: #273c75;
	color: #f5f6fa;
}

body.light {
	background: #f5f6fa;
	color: #273c75;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}